{% extends 'base.html' %}
{% load static %}

{% block "content" %}

<section class="cont">
    <section class="sidebar">
        <h1>Shina Kapture</h1>
        <div class="nav">
            <ul>
                <li>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
                <li>Dashboard</li>
            </ul>
        </div>
    </section>
    <section class="main-content">
        <div class="head"> 
        </div>
    </section>
</section>
{% endblock "content" %}