{% extends 'base.html' %}
{% load static %}


{% block "header" %}
    {% include 'components/header.html'%}
{% endblock "header" %}
{% block "content" %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bo-links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Services Section Begin -->
    <section class="services-section services-normal spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/services/service-1.jpg" alt="">
                        <h3>Shooting</h3>
                        <p>Elevate your visuals with our expert touch. Our meticulous editing enhances colors, 
                            lighting, and effects to bring out the best in your content.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/services/service-2.jpg" alt="">
                        <h3>Videos</h3>
                        <p>Our videos are a testament to our dedication. Through skilled editing and creative vision,
                            we turn moments into captivating stories</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="img/services/service-3.jpg" alt="">
                        <h3>Editing</h3>
                        <p>Elevate your visuals with our expert touch. Our meticulous editing enhances colors, lighting, and 
                            effects to bring out the best in your content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Services Option Section Begin -->
    <section class="services-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">01</div>
                            <h5>Filming and Editing</h5>
                        </div>
                        <p>From concept to final cut, we bring your vision to life. 
                            Our filmmaking expertise ensures a seamless blend of storytelling and visuals.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">02</div>
                            <h5>Engagement photography</h5>
                        </div>
                        <p>Capture the love and excitement in every frame. Our engagement photography 
                            freezes those heartwarming moments forever.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">03</div>
                            <h5>Comercial photography</h5>
                        </div>
                        <p>Highlight your brand's essence. Our 
                            commercial photography encapsulates your vision, products, and services.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">04</div>
                            <h5>Social media photography</h5>
                        </div>
                        <p>Make an impact in the digital world. 
                            Our social media photography ensures your online presence is visually compelling.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">02</div>
                            <h5>Event Photography</h5>
                        </div>
                        <p>Your event, our lens. Our event photography captures 
                            the energy and emotions, preserving memories to cherish.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">03</div>
                            <h5>personal photography</h5>
                        </div>
                        <p>Every story is unique. Our personal photography captures your 
                            individuality and emotions, creating lifelong memories.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Option Section End -->

    {% endblock "content" %}

    {% block "footer" %}
        {% include 'components/footer.html'%}
    {% endblock "footer" %}