{% extends "dashboard/base.html" %}
{% load static %}

{% block "content" %}
<!-- Gallery Section Begin -->
<br>
<br>
<div class="gallery-section spad">
    <div class="container">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <form method="get" action="{% url 'gallery' %}" class="image-form">
            {% csrf_token %}
            <div class="input-group input-group-outline">
                <label class="form-label">search here...</label>
                <input type="text" class="form-control" id="search-input" name="q">
            </div>
            <button>search</button>
          </form>
          </div><br>
          <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".fashion">Wedding</li>
                        <li data-filter=".lifestyle">Birthday</li>
                        <li data-filter=".natural">Family Pics</li>
                        <li data-filter=".videos">Others</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="gallery-filter" id="search-results">
                    {% for gallery in gallerys %}
                    <div class="gf-item set-bg {{gallery.image_width}} {{gallery.category}}" data-setbg="{{ gallery.image.url }}">
                        <a href="{{ gallery.image.url }}" class="gf-icon image-popup"><span class="icon_plus"></span></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          {% if page.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page.previous_page_number }}">prev</a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <a class="page-link">Prev</a>
              </li>
          {% endif %}
  
          {% for num in page.paginator.page_range %}
              <li class="page-item {% if num == page.number %}active{% endif %}">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
          {% endfor %}
  
          {% if page.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page.next_page_number }}">next</a>
              </li>
          {% else %}
              <li class="page-item disabled">
                  <a class="page-link">Next</a>
              </li>
          {% endif %}
      </ul>
  </nav>
</div>
{% endblock "content" %}
