{% extends "dashboard/base.html" %}
{% load static %}

{% block "content" %}

<!-- customer_detail.html -->

<div class="container-fluid py-4">
  
  <div class="row">
    <div class="col-12 btn">
      <a href="{% url 'transaction_update' id=transaction.id %}">
        <button>Edit</button>
      </a>
    </div>
</div>
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h4 class="text-white text-capitalize ps-3">Transaction Information</h4>
            </div>
          </div>
          <div class="detail">
            <h6><strong>Customer Name:</strong> {{ transaction.customer.name }}</h6>
            <h6><strong>Type:</strong>    {{ transaction.type }}</h6>
            <h6><strong>Total Amount:</strong> {{ transaction.total_amount }}</h6>
            <h6><strong>Amount Paid:</strong> {{ transaction.amount_paid }}</h6>
            <h6><strong>Balance:</strong>  {{ transaction.balance }}</h6>
            <h6><strong>Payment Method:</strong>  {{ transaction.payment_method }}</h6>
            <h6><strong>Date:</strong>  {{ transaction.date }}</h6>
          </div>
        </div>

        <br>
        <br>
        <div class="gallery-section spad">

          <div class="container">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h4 class="text-white text-capitalize ps-3">Gallery</h4>
              </div>
            </div>
            <br><br>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="filter-controls">
                          <ul>
                              <li class="active" data-filter="*">All</li>
                              <li data-filter=".fashion">Wedding</li>
                              <li data-filter=".lifestyle">Birthday</li>
                              <li data-filter=".natural">Family Pics</li>
                              <li data-filter=".videos">Others</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <br><br>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 p-0">
                      <div class="gallery-filter">
                          {% for galleri in gallery %}
                          <div class="gf-item set-bg {{gallei.category}}" data-setbg="{{ galleri.image.url }}">
                              <a href="{{ galleri.image.url }}" class="gf-icon image-popup"><span class="icon_plus"></span></a>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>

              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page.previous_page_number }}">prev</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Prev</a>
                        </li>
                    {% endif %}
            
                    {% for num in page.paginator.page_range %}
                        <li class="page-item {% if num == page.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
            
                    {% if page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page.next_page_number }}">next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
          </div>
      </div>
    </div>
</div>

{% endblock "content"%}