{% extends "dashboard/base.html" %}
{% load static %}

{% block "content" %}
    <div class="container-fluid py-4">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label">search here...</label>
          <input type="text" class="form-control" id="search-input">
        </div>
      </div>

      <div class="row">
        <div class="col-12 btn">
          <a href="{% url 'transaction_create' %}">
            <button>add New</button>
          </a>
        </div>
    </div>

      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Transactions</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead id="search-result">
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">copies</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">type</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total Amount</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount Paid</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Balance</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Payment Method</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody id="search-results">
                    {% for transaction in transactions %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ transaction.customer.name }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ transaction.quantity }}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{  transaction.type }}</p>
                      </td>
                      <td class="align-middle text-center d-flex px-2 py-4">
                        <p class="text-xs font-weight-bold mb-0">{{ transaction.total_amount }}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ transaction.amount_paid }}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ transaction.balance }}</p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ transaction.payment_method }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ transaction.date }}</span>
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'transaction_detail' id=transaction.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <br>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                      {% if page.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page.previous_page_number }}">prev</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled">
                              <a class="page-link">Prev</a>
                          </li>
                      {% endif %}
              
                      {% for num in page.paginator.page_range %}
                          <li class="page-item {% if num == page.number %}active{% endif %}">
                              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                          </li>
                      {% endfor %}
              
                      {% if page.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page.next_page_number }}">next</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled">
                              <a class="page-link">Next</a>
                          </li>
                      {% endif %}
                  </ul>
              </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    function updateSearchResults() {
      var query = document.getElementById('search-input').value;
      
      if (query) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/transaction_search/?q=' + query, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        
        xhr.onload = function() {
          if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            var resultsContainer = document.getElementById('search-results');
            resultsContainer.innerHTML = ''; // Clear previous results
            
            if (data.transactions.length > 0) {
              data.transactions.forEach(function(transaction) {
                var newRow = `
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">${transaction.name}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">${transaction.quantity}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">${transaction.type}</p>
                    </td>
                    <td class="align-middle text-center d-flex px-2 py-4">
                      <p class="text-xs font-weight-bold mb-0">${transaction.total_amount}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">${transaction.amount_paid}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">${transaction.balance}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">${transaction.payment_method}</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">${transaction.created_at}.date</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        view
                      </a>
                    </td>
                  </tr>
                `;
                resultsContainer.insertAdjacentHTML('beforeend', newRow);
              });
            } else {
              var noResultsItem = document.createElement('tr');
              noResultsItem.innerHTML = '<td colspan="6">No results found.</td>';
              resultsContainer.appendChild(noResultsItem);
            }
          }
        };
        
        xhr.send();
      }
    }
    
    // Update the search results every 5 seconds (5000 milliseconds)
    setInterval(updateSearchResults, 500);
  </script>
    
{% endblock "content" %}